.inp{
  font-size: 20px;
  color: black;
}

ion-content{
  --background: rgb(29, 29, 29);
}

ion-toolbar{
  --background: rgb(45, 211, 111);
}

ion-button{
  font-size: 18px;
}

.title{
  font-family: 'Capriola', sans-serif;
  font-size: 22px;
}